$su-orange: #F76900;
$su-dark-orange: #D74100;
$su-medium-orange: #FF431B;
$su-primary-blue: #000E54;
$su-medium-blue: #203299;
$su-dark-gray: #404040;
$su-medium-gray: #707780;
$su-light-gray: #ADB3B8;

$white: #ffffff;
$black: #000000;
